/*
|--------------------------------------------------------------------------
| Imports/variables/mixins
|--------------------------------------------------------------------------
|
|
|
*/

@import "compass/css3";
$primaryColor: #3498DB;
$secondaryColor: #E87E04;
$bgpic: '../img/hero-10-12-2014.jpg';

// Typography
html, body {
	font-size: 14px;
	background-color: #f5f5f5
}

.row {
	max-width: 1040px;
}

.popup-container, .popup-overlay {
	display: none;
}

.hero {
	h1 {
		font-size: 2em;
	}
	h3 {
		font-size: 1.5em;

	}
	.actie-buttons {
		margin-top: 25px !important;
	}
	.button {
		font-size: 12px;
	}
}

.actie .content.zwer {
	padding: 0 !important;
	padding-bottom: 2em !important;
	h3 {
		margin-top: 50px;
		margin-bottom: -10px;
		font-weight: 100;
		b {
			font-weight: 700;
			font-size: 80%;
		}
	}
	h4 {
		margin-top: -40px;
		font-weight: 500;
	}
}

.vraagnantwoord {
	width: 100%;
}

.e-padding {
	padding: 1em;
	padding-left: 2em;
	padding-right: 0;
}

hr {
	border-color: #e2e2e2;
}

.pl1 {
	padding-right: 1em;
	@media only screen and (max-width: 40em)
	{
		padding: 0 1em;
	}
}

.pl2 {
	padding-right: 1em;
	@media only screen and (max-width: 40em)
	{
		padding-right: 2em;
	}
}

.textarea-control {
	height: 100px;
}

.comment {
	width: 100%;
	min-height: 75px;
	max-height: 1000px;
	position: relative;
	margin-bottom: 25px;
	.commenter {
		width: 35px;
		height: 35px;
		display: inline-block;
		float: left;
	}
	.content {
		width: 70%;
		padding: 0;
		margin: 0;
		margin-left: 10px;
		display: inline-block;
		font-weight: 500;
		line-height: 1.2;
		p {
			line-height: 1;
			margin-top: 5px;
		}
	}
	.comment-content {
		width: 100%;
		display: block;
		margin-top: 10px;
	}
}

.clearfix {
	clear:both;
}

.button-actie {
	font-weight: 900 !important;
	background: darken(#19B5FE, 2.5);
	width: 100%;
	text-transform: uppercase;
	@include border-radius(2px);
	&:hover {
		background: darken(#19B5FE, 2.5);
	}
}