/*
|--------------------------------------------------------------------------
| Imports/variables/mixins
|--------------------------------------------------------------------------
|
|
|
*/
/* line 16, ../sass/cpteidb.scss */
html, body {
  font-size: 14px;
  background-color: #f5f5f5;
}

/* line 21, ../sass/cpteidb.scss */
.row {
  max-width: 1040px;
}

/* line 25, ../sass/cpteidb.scss */
.popup-container, .popup-overlay {
  display: none;
}

/* line 30, ../sass/cpteidb.scss */
.hero h1 {
  font-size: 2em;
}
/* line 33, ../sass/cpteidb.scss */
.hero h3 {
  font-size: 1.5em;
}
/* line 37, ../sass/cpteidb.scss */
.hero .actie-buttons {
  margin-top: 25px !important;
}
/* line 40, ../sass/cpteidb.scss */
.hero .button {
  font-size: 12px;
}

/* line 45, ../sass/cpteidb.scss */
.actie .content.zwer {
  padding: 0 !important;
  padding-bottom: 2em !important;
}
/* line 48, ../sass/cpteidb.scss */
.actie .content.zwer h3 {
  margin-top: 50px;
  margin-bottom: -10px;
  font-weight: 100;
}
/* line 52, ../sass/cpteidb.scss */
.actie .content.zwer h3 b {
  font-weight: 700;
  font-size: 80%;
}
/* line 57, ../sass/cpteidb.scss */
.actie .content.zwer h4 {
  margin-top: -40px;
  font-weight: 500;
}

/* line 63, ../sass/cpteidb.scss */
.vraagnantwoord {
  width: 100%;
}

/* line 67, ../sass/cpteidb.scss */
.e-padding {
  padding: 1em;
  padding-left: 2em;
  padding-right: 0;
}

/* line 73, ../sass/cpteidb.scss */
hr {
  border-color: #e2e2e2;
}

/* line 77, ../sass/cpteidb.scss */
.pl1 {
  padding-right: 1em;
}
@media only screen and (max-width: 40em) {
  /* line 77, ../sass/cpteidb.scss */
  .pl1 {
    padding: 0 1em;
  }
}

/* line 85, ../sass/cpteidb.scss */
.pl2 {
  padding-right: 1em;
  /*added*/
  margin-top:50px;
  /*added*/
}
/*added*/
.pl2 h6 {
    color: #4aa3df;
    font-size: 3em; /* 15px;*/
    font-weight: normal; /*bold;*/
}
/*added*/
@media only screen and (max-width: 40em) {
  /* line 85, ../sass/cpteidb.scss */
  .pl2 {
    padding-right: 2em;
  }
}

/* line 93, ../sass/cpteidb.scss */
.textarea-control {
  height: 100px;
}

/* line 97, ../sass/cpteidb.scss */
.comment {
  width: 100%;
  min-height: 75px;
  max-height: 1000px;
  position: relative;
  margin-bottom: 25px;
}
/* line 103, ../sass/cpteidb.scss */
.comment .commenter {
  width: 35px;
  height: 35px;
  display: inline-block;
  float: left;
}
/* line 109, ../sass/cpteidb.scss */
.comment .content {
  width: 70%;
  padding: 0;
  margin: 0;
  margin-left: 10px;
  display: inline-block;
  font-weight: 500;
  line-height: 1.2;
}
/* line 117, ../sass/cpteidb.scss */
.comment .content p {
  line-height: 1;
  margin-top: 5px;
}
/* line 122, ../sass/cpteidb.scss */
.comment .comment-content {
  width: 100%;
  display: block;
  margin-top: 10px;
}

/* line 129, ../sass/cpteidb.scss */
.clearfix {
  clear: both;
}

/* line 133, ../sass/cpteidb.scss */
.button-actie {
  font-weight: 900 !important;
  background: #0cb1fe;
  width: 100%;
  text-transform: uppercase;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
/* line 139, ../sass/cpteidb.scss */
.button-actie:hover {
  background: #0cb1fe;
}
