@charset "utf-8";
/* CSS Document */

.topSliderBlock .extra{ position:relative; width:100%; margin-left:0px; left:0px; }
.topSliderBlock .extra .search{ margin:0px 10px; width:auto;}

.extraAdv > div{float:none;}
.extraAdv .like-button{float:none; width:100%; margin:0px 0px 0px 10px; text-align:left;}
.extraAdv .actie-buttons{ width:100%;}
#wowslider-container1 .ws-title{font-size:14px; line-height:18px; text-align:left; width: 80%;}
