/*
|--------------------------------------------------------------------------
| Imports/variables/mixins
|--------------------------------------------------------------------------
|
|
|
*/
/*
|--------------------------------------------------------------------------
| HTML & Body styles
|--------------------------------------------------------------------------
|
|
|
*/
/* line 26, ../sass/cpteidb.scss */
html, body {
  width: 100%;
  height: 100%;
  /* background-color: #fff !important; */
  /*background:url("/img/backgroundImg.jpg") no-repeat scroll 0 0 #fff !important;
   background-size: cover !important;
   -webkit-background-size: cover !important;*/ /*added*/
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-font-smoothing: antialiased !important;
  -ms-font-smoothing: antialiased !important;
  -o-font-smoothing: antialiased !important;
}

/* line 37, ../sass/cpteidb.scss */
html, body, h1, h2, h3, h4, h5, h6, p, li {
  font-family: "Proxima Nova", "Helvetica Neue", Helvetica, sans-serif;
  color: inherit;
}

/* line 42, ../sass/cpteidb.scss */
h1, h2 {
  font-weight: 300;
  color: #313131;
}

/* line 47, ../sass/cpteidb.scss */
h3 {
  font-weight: 500;
  color: #313131;
}

/* line 52, ../sass/cpteidb.scss */
h4, h5, h6 {
  font-weight: 700;
  color: #313131;
}

/* line 57, ../sass/cpteidb.scss */
.container {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* line 67, ../sass/cpteidb.scss */
.container.open {
  left: -250px;
}

/* line 71, ../sass/cpteidb.scss */
.row {
  max-width: 1140px;
}

/* line 75, ../sass/cpteidb.scss */
label {
  font-weight: 700;
}

/* line 79, ../sass/cpteidb.scss */
.padding {
  padding: 1em 0;
}

/*
|--------------------------------------------------------------------------
| Elements & General styles
|--------------------------------------------------------------------------
|
|
|
*/
/* line 93, ../sass/cpteidb.scss */
.well {
  background: #FFFFFF;
  padding: 1.5em;
  border: 1px solid #ccc; /*#e1e1e1*/
}

/* line 99, ../sass/cpteidb.scss */
.full-page {
  height: 100vh;
}

/* line 103, ../sass/cpteidb.scss */
.page {
  margin-top: 50px;
  padding: 2em 0;
  min-height: 80vh;
}
/* line 107, ../sass/cpteidb.scss */
.page .hero {
  width: 100%;
  height: auto;
  z-index: 1;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
  padding: 50px 0;
  padding-top: 100px;
  margin-top: -100px;
  -moz-box-shadow: 0 0 7.5px #777;
  -webkit-box-shadow: 0 0 7.5px #777;
  box-shadow: 0 0 7.5px #777;
}
/* line 119, ../sass/cpteidb.scss */
.page .hero:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/hero-10-12-2014.jpg") top center/cover no-repeat;
  z-index: 0;
}
/* line 131, ../sass/cpteidb.scss */
.page .hero h1, .page .hero h2, .page .hero h3, .page .hero p {
  color: white;
}
/* line 134, ../sass/cpteidb.scss */
.page .hero .content {
  width: 100%;
  position: relative;
  top: 50%;
  color: white;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media only screen and (max-width: 40em) {
  /* line 141, ../sass/cpteidb.scss */
  .page .hero .content h1 {
    font-size: 2em;
  }
  /* line 144, ../sass/cpteidb.scss */
  .page .hero .content h3 {
    font-size: 1em;
  }
 
}

@media only screen and (max-width: 568em) {
#searchBtn {
    margin-left: 34px !important;  
}

.extraAdv .like-button {
    margin:10px 0px 0px 10px !important; text-align:right !important;
}
 
}

@media only screen and (max-width: 320em) {
#searchBtn {
    margin-left: -6px !important;  
}

}

/* line 152, ../sass/cpteidb.scss */

.like-button {
  width: 12%;
  /*position: absolute;*/
  position: relative;
  z-index: 2;
  /*bottom: 10px;
  bottom: 39px;*/
  /*left: 50%;
  left:32%;*/
  text-align: right;
  margin: 13px 0px 0px 77px;
 /* margin-left: -152.5px;*/
  /*margin-left: -190.5px;*/
}
/*code added by matainja 24-04-2015*/
.button.button-action.radius {
    margin-left: 5px;
}
.button.button-facebook.radius {
    margin-left: 0px;
}
/* line 162, ../sass/cpteidb.scss */
.full-width {
  width: 100%;
}

/* line 166, ../sass/cpteidb.scss */
.text-right {
  text-align: right;
}

/* line 170, ../sass/cpteidb.scss */
.alert-box {
  font-weight: 700;
}

/* line 174, ../sass/cpteidb.scss */
.button {
  font-weight: 500 !important;
  font-size: 0.85em;
  border: none;
  background: none;
  border-color: none;
  border-style: none;
  border-width: 1px !important;
  padding: 1em;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4wNyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.07)));
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.07));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.07));
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.07));
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
/* line 186, ../sass/cpteidb.scss */
.button span {
  margin-right: 1em;
}

/* line 191, ../sass/cpteidb.scss */
.button-facebook {
  background: #3b5998;
  border-bottom: 2px solid #2d4373;
}
/* line 194, ../sass/cpteidb.scss */
.button-facebook:hover {
  background: #4264aa;
  border-color: #3b5998;
}

/* line 200, ../sass/cpteidb.scss */
.button-action {
  background: #6BB9F0;
  border-bottom: 2px solid #3da3eb;
}
/* line 203, ../sass/cpteidb.scss */
.button-action:hover {
  background: #82c4f2;
  border-bottom: 2px solid #6bb9f0;
}

/* line 209, ../sass/cpteidb.scss */
.button-submit {
  background: #3498DB;
  border-bottom: 2px solid #217dbb;
}
/* line 212, ../sass/cpteidb.scss */
.button-submit:hover {
  background: #4aa3df;
  border-color: #3498DB;
}

/* line 218, ../sass/cpteidb.scss */
.button-blue {
  background: #3498DB;
  font-weight: 700;
  text-transform: uppercase;
  width: 100%;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4wNyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.07)));
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.07));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.07));
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.07));
}
/* line 225, ../sass/cpteidb.scss */
.button-blue:hover {
  background: #4aa3df;
}

/* line 230, ../sass/cpteidb.scss */
.button-green {
  height: 40px; /*changed from 35px to 40px*/
  line-height: 43px; /*changed from 35px to 43px*/
  margin: 0;
  padding: 0 1em;
  margin-top: 9px; /*changed from 7.5px to 9px*/
  background: #00B16A;
  border: none;
  border-bottom: 1px solid #00985b;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 7px; /*changed from 2px to 7px*/
}
/* line 240, ../sass/cpteidb.scss */
.button-green:hover {
  background: #00cb79;
}

/* newly added starts */
	
.button-green.radius.color {
/*	color:black;
*/	
	font-weight:normal;
	letter-spacing:0px;
	text-shadow:1px 1px 1px white;
}
	
/* ends here */


/* line 245, ../sass/cpteidb.scss */
.button-red {
  height: 35px;
  line-height: 35px;
  margin: 0;
  padding: 0 1em;
  margin-top: 7.5px;
  background: #D64541;
  border: none;
  border-bottom: 1px solid #d1312d;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
/* line 255, ../sass/cpteidb.scss */
.button-red:hover {
  background: #db5a56;
}

/* line 260, ../sass/cpteidb.scss */
.border-right {
  border-right: 1px dotted #c5c5c5;
}
@media only screen and (max-width: 40em) {
  /* line 260, ../sass/cpteidb.scss */
  .border-right {
    border-right: none;
  }
}

/* line 267, ../sass/cpteidb.scss */
.info-box {
  width: 100%;
  height: auto;
  padding: 1.5em;
  color: #8d700a;
  background: #fcf5d9;
  border: 1px solid #f8e49e;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
/* line 275, ../sass/cpteidb.scss */
.info-box.alert {
  background: #ffcccc;
  border-color: #ff9999;
  color: #ff3333;
}

/* line 282, ../sass/cpteidb.scss */
table {
  margin: 0 auto;
  width: 100%;
  overflow-x: scroll !important;
}
/* line 286, ../sass/cpteidb.scss */
table thead {
  background: #4aa3df;
}
/* line 289, ../sass/cpteidb.scss */
table thead tr th {
  color: white;
}
/* line 294, ../sass/cpteidb.scss */
table tr {
  max-height: 100px;
}
/* line 296, ../sass/cpteidb.scss */
table tr td {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 200px;
}

/* line 305, ../sass/cpteidb.scss */
.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* line 311, ../sass/cpteidb.scss */
.spinner {
  width: 40px;
  height: 40px;
  background-color: #E87E04;
  border-radius: 100%;
  -webkit-animation: scaleout 1.0s infinite ease-in-out;
  animation: scaleout 1.0s infinite ease-in-out;
  display: none;
}

@-webkit-keyframes scaleout {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}
@keyframes scaleout {
  0% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 0;
  }
}
/* line 341, ../sass/cpteidb.scss */
input[type="search"] {
  font-size: 1.5em;
  height: auto;
  background: white;
  border: none;
  margin-top: 25px;
}

/*
|--------------------------------------------------------------------------
| Header styles
|--------------------------------------------------------------------------
|
|
|
*/
/* line 358, ../sass/cpteidb.scss */
.header {
  width: 100%;
  height: 60px; /* changed from 50px to 60px*/
  line-height: 55px; /* changed from 50px to 55px */
  background: transparent;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 369, ../sass/cpteidb.scss */
.header.open {
  left: -250px;
}
/* line 372, ../sass/cpteidb.scss */
.header .brand {
  color: #3498DB;
  /* added */
  	font-size:25px;
	font-weight:600;
	letter-spacing:2px;
  /* added */
}
/* line 375, ../sass/cpteidb.scss */
.header .brand span:first-of-type {
  color: #E87E04;
}
/* line 378, ../sass/cpteidb.scss */
.header .brand span:last-of-type {
  color: white;
  font-weight: 600; /* changed from 900 to 600*/
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
}
/* line 385, ../sass/cpteidb.scss */
.header .sidebar-toggle {
  display: none;
  float: right;
  font-size: 1.75em;
  color: white;
  margin-right: 10px;
  margin-top: 3px;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/*@media only screen and (max-width: 40em) {
   line 385, ../sass/cpteidb.scss 
  .header .sidebar-toggle {
    display: block;
  }
}*/
/* line 397, ../sass/cpteidb.scss */
.header .inline-list {
  float: right;
  text-align: right !important;
  line-height: 60px; /* changed from 50px to 60px*/
  font-size: 0.85em;
}
/*@media only screen and (max-width: 40em) {
   line 397, ../sass/cpteidb.scss 
  .header .inline-list {
    display: none;
  }
}*/
/* line 405, ../sass/cpteidb.scss */
.header .inline-list .ion-search {
  font-size: 2em;
  cursor: pointer;
}
/* line 409, ../sass/cpteidb.scss */
.header .inline-list li a {
  color: white;
  /* newly added */
  font-size:13.5px;
  /*letter-spacing: 1px;*/
  /* newly added */
  font-weight: 700; 
}
/* line 412, ../sass/cpteidb.scss */
.header .inline-list li a .picture {
  width: 35px;
  height: 35px;
  float: right;
  margin-top: 7.5px;
  margin-left: 10px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

/* line 424, ../sass/cpteidb.scss */
.header.nono {
 /* background: rgba(0, 0, 0, 0.9);*/
 background-color:#1d4274;
 /* -moz-box-shadow: 0 0 2px black;
  -webkit-box-shadow: 0 0 2px black;
  box-shadow: 0 0 2px black;*/
}

/*
|--------------------------------------------------------------------------
| Sidebar
|--------------------------------------------------------------------------
|
|
|
*/
/* line 439, ../sass/cpteidb.scss */
.sidebar {
  width: 250px;
  height: 100%;
  background: #212121;
  position: fixed;
  z-index: 3;
  top: 0;
  right: -250px;
  padding: 0.5em 1.5em;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 449, ../sass/cpteidb.scss */
.sidebar a {
  color: #919191;
  width: 100%;
  display: block;
  line-height: 40px;
  height: 40px;
  font-weight: 700;
  font-size: 0.85em;
  text-transform: uppercase;
}

/* line 461, ../sass/cpteidb.scss */
.sidebar.open {
  right: 0;
}

/*
|--------------------------------------------------------------------------
| Homepage
|--------------------------------------------------------------------------
|
|
|
*/
/* line 474, ../sass/cpteidb.scss */
.popup-overlay {
  background: rgba(26, 36, 47, 0.85);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
}

/* line 484, ../sass/cpteidb.scss */
.popup-container {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
}
/* line 491, ../sass/cpteidb.scss */
.popup-container .row {
  position: relative;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 496, ../sass/cpteidb.scss */
.popup-container .box {
  width: 100%;
  padding: 1.5em;
  background: white;
  text-align: center;
  -moz-box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
}
/* line 502, ../sass/cpteidb.scss */
.popup-container .box #subscribeClose {
  position: absolute;
  top: 10px;
  right: 25px;
}

/* line 510, ../sass/cpteidb.scss */
.hero {
  width: 100%;
  height: 60%;
  z-index: 1;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}
@media only screen and (max-width: 40em) {
  /* line 510, ../sass/cpteidb.scss */
  .hero {
    height: 100%;
  }
}
/* line 522, ../sass/cpteidb.scss */
.hero:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 110%;
  height: 110%;
  background: url("../img/hero-10-12-2014.jpg") top center/cover no-repeat;
  z-index: 0;
}
/* line 534, ../sass/cpteidb.scss */
.hero h1, .hero h2, .hero h3, .hero p {
  color: white;
}
/* line 537, ../sass/cpteidb.scss */
.hero .picture {
  width: 75px;
  height: 75px;
  margin: 0 auto;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  -moz-box-shadow: 0 0 25px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.35);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.35);
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}
/* line 548, ../sass/cpteidb.scss */
.hero .content {
  width: 100%;
  position: relative;
  top: 50%;
  color: white;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media only screen and (max-width: 40em) {
  /* line 555, ../sass/cpteidb.scss */
  .hero .content h1 {
    font-size: 2em;
  }
  /* line 558, ../sass/cpteidb.scss */
  .hero .content h3 {
    font-size: 1em;
  }
}
/* line 562, ../sass/cpteidb.scss */
.hero .content .actie-buttons {
  margin-top: 75px;
}
@media only screen and (max-width: 40em) {
  /* line 562, ../sass/cpteidb.scss */
  .hero .content .actie-buttons {
    margin-top: 30px;
  }
}
/* line 567, ../sass/cpteidb.scss */
.hero .content .actie-buttons a {
  margin: 0 5px;
}
@media only screen and (max-width: 40em) {
  /* line 567, ../sass/cpteidb.scss */
  .hero .content .actie-buttons a {
    margin: 10px;
    display: block;
  }
}

/* line 578, ../sass/cpteidb.scss */
.bon {
  height: auto;
  min-height: 430px;
  max-height: 430px;/* changed from 352px to 430px */
  position: relative;
  margin-bottom: 15px;
  /*overflow: hidden !important;*/ /*show for pop up*/
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 15px; /* changed from 3px to 15px */
}
/* line 627, ../sass/cpteidb.scss */
.bon .img {
  width: 100%;
  height: 215px; /* changed from 150px to 215px */
  background: black;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;  
}
/* line 632, ../sass/cpteidb.scss */
.bon .content {
  width: 100%;
  height: 100%;
  /*position: absolute;*/
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 1;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 641, ../sass/cpteidb.scss */
.bon .content a:hover {
  color: #fb8b0b;
}
/* line 644, ../sass/cpteidb.scss */
.bon .content .button-buy {
  padding: 1em 1.2em;
}
/* line 647, ../sass/cpteidb.scss */
.bon .content .text {
  padding: 3.5em 1em 0.5em; /*0.5em 1em;*/
}
.bon h4{
  word-wrap: break-word;
  line-height: 1.1;
  /*display: block; 
  max-height: 66px;
  overflow: hidden;*/ /*but title contains 55 chars*/
}
/* line 651, ../sass/cpteidb.scss */
.bon h1 {
  font-weight: 700;
}
/* line 653, ../sass/cpteidb.scss */
.bon h1 span {
  font-size: 40%;
  vertical-align: top;
  font-weight: 500;
}
/* line 659, ../sass/cpteidb.scss */
.bon p {
  min-height: 50px;
}
/* line 662, ../sass/cpteidb.scss */
.bon a {
  color: #3498DB;
}
/* line 664, ../sass/cpteidb.scss */
.bon a:hover {
  color: #E87E04;
}
/* line 667, ../sass/cpteidb.scss */
.bon a.bonlink {
  font-weight: 500;
  font-size: 1em;
}
/* line 672, ../sass/cpteidb.scss */
.bon .prijs {
  position: absolute;
  top: 165px;
  left:calc(50% - 50px);
  left:-moz-calc(50% - 50px);
  left:-webkit-calc(50% - 50px);
  border-radius: 50px;
  width: 100px;
  height: 100px;
  /*padding-right: 3em;*/
  background-color: #3498DB;
}
.bon .head-prijs{
  font-size: 2.75rem;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: bold;
  font-style: normal;
  color: #fff;
  line-height: 1;
  text-align: center;
}
.bon .head-prijs span {
    /*font-size: 40%;*/
    font-weight: 500;
    vertical-align: top;
}
.well.bon{
  padding: 0;
}
.bon .text i.icon{
  font-size: 1.2em;
  color:#e87e04; /*orange*/
}
.prijs .tooltip {
  width: 200px;
  left:-50%;
  top: 105px;
  background-color: rgba(0,0,0,0.75);
}
.tooltip > h6{
  color: #fff;
}
.tooltip > ul{
  padding-left: 15px;
}
.prijs .tooltip > .nub {
  left: 95px;
  top: -9px;
  border-color: transparent transparent rgba(52, 152, 219, 0.85) transparent;
}
.prijs .tooltip{
  background-color: rgba(52, 152, 219, 0.85);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.prijs:hover > .tooltip {
  display: block;
}
/* line 678, ../sass/cpteidb.scss */
.bon .button-buy {
  background: #e87e04; /*blue #3498DB*/
  border-bottom: 2px solid #C06700; /*#258cd1;*/
  font-weight: 700 !important;
  text-transform: uppercase;
}
/* line 683, ../sass/cpteidb.scss */
.bon .button-buy:hover {
  background: #FFA500; /*light-blue #4aa3df*/
}
/* line 687, ../sass/cpteidb.scss */
.bon .text-red-small {
  font-size: 30%;
  color: #fff; /*change from #db5a56*/
  font-weight: 500;
  display: block;
  margin: 18px auto 5px;
}
.bon h6{
  margin-bottom: 0;
}
.bon-footer{
  position: absolute;
  bottom:0;
  right: 17px;
}
/* line 694, ../sass/cpteidb.scss */
.bon-plus-link {
  color: #c5c5c5;
}
/* line 696, ../sass/cpteidb.scss */
.bon-plus-link:hover {
  color: #777;
  background: white;
}
/* line 700, ../sass/cpteidb.scss */
.bon-plus-link .bon-plus {
  height: auto;
  /*min-height: 325px;
  max-height: 325px;*/
  height: 430px;
  position: relative;
  margin-bottom: 15px;
  text-align: center;
  padding: 2em;
  border: 3px dashed #ddd;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 711, ../sass/cpteidb.scss */
.bon-plus-link .bon-plus:hover {
  background: white;
}
/* line 714, ../sass/cpteidb.scss */
.bon-plus-link .bon-plus i {
  font-size: 4em;
}
/* line 717, ../sass/cpteidb.scss */
.bon-plus-link .bon-plus span {
  color: #424242;
}

/* line 723, ../sass/cpteidb.scss */
.twitter {
  margin: 25px 0;
  background: #55acee;
}
/*.bon-advertine .head-prijs{
  line-height: 1.5;
  margin-top: 15px;
}*/
/* line 728, ../sass/cpteidb.scss */
.spacer {
  height: 8em;
}

/*
|--------------------------------------------------------------------------
| Inlog page
|--------------------------------------------------------------------------
|
|
|
*/
/* line 741, ../sass/cpteidb.scss */
.register-picture {
  width: 100px;
  height: 100px;
  margin: 0px auto;
  margin-top: 25px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

/* line 749, ../sass/cpteidb.scss */
.inpfile {
  margin-bottom: 35px;
}
/* line 751, ../sass/cpteidb.scss */
.inpfile .button {
  margin-top: 40px;
}
/* line 754, ../sass/cpteidb.scss */
.inpfile input[type="file"] {
  display: none;
}

/*
|--------------------------------------------------------------------------
| FAQ
|--------------------------------------------------------------------------
|
|
|
*/
/* line 770, ../sass/cpteidb.scss */
.faq {
  font-size: 100%;
}
/* line 772, ../sass/cpteidb.scss */
.faq h3 {
  font-size: 120%;
  font-weight: 700;
}

/*
|--------------------------------------------------------------------------
| Footer
|--------------------------------------------------------------------------
|
|
|
*/
/* line 788, ../sass/cpteidb.scss */
.footer {
  width: 100%;
  min-height: 55px; /*changed from 30px to 55px */
  /*border-top: 1px dashed #c5c5c5;*/
  line-height: 50px; /*changed from 30px to 50px */
  text-align: center;
  /* added */
  font-size:18px;
  background-color:white;
  /* added */
}
/* line 795, ../sass/cpteidb.scss */
.footer a {
  font-size: 0.75em;
  margin: 0 10px;
  text-transform: uppercase;
  font-weight: 700;
  color: #777;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 802, ../sass/cpteidb.scss */
.footer a:hover {
  margin: 0 15px;
  color: #131313;
}

/*
|--------------------------------------------------------------------------
| Geen advertenties
|--------------------------------------------------------------------------
|
|
|
*/
/* line 819, ../sass/cpteidb.scss */
.geen-advertenties {
  text-align: center;
  padding: 5em 0;
}
/* line 822, ../sass/cpteidb.scss */
.geen-advertenties h1 {
  font-size: 5em;
  color: #aaa;
}

/*
|--------------------------------------------------------------------------
| Advertentie plaatsen
|--------------------------------------------------------------------------
|
|
|
*/
/* line 838, ../sass/cpteidb.scss */
.file-upload-box {
  width: 100%;
  height: 300px;
  line-height: 300px;
  text-align: center !important;
  background: #cce5f6;
  border: 2px dotted #b6daf2;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  opacity: 1;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
/* line 850, ../sass/cpteidb.scss */
.file-upload-box h1 {
  color: #8bc4ea;
  line-height: 1em;
  position: relative;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 856, ../sass/cpteidb.scss */
.file-upload-box h1 small {
  font-size: 45%;
  font-weight: 700;
}

/* line 862, ../sass/cpteidb.scss */
.file-input {
  display: none;
}

/* line 865, ../sass/cpteidb.scss */
.stap {
  position: relative;
}

/* line 868, ../sass/cpteidb.scss */
.white-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.75);
}

/* line 878, ../sass/cpteidb.scss */
#m-form {
  background: #f1f1f1;
  padding: 1.5em;
  display: none;
}
/* line 882, ../sass/cpteidb.scss */
#m-form label {
  font-weight: 500;
}

/* line 889, ../sass/cpteidb.scss */
#stap2 .left h3 {
  font-size: 1.25em;
}
/* line 893, ../sass/cpteidb.scss */
#stap2 .left h1 input[type="number"] {
  background: none;
  border: none;
  width: auto;
  max-width: 200px;
  height: auto;
  font-size: 1.75em;
  display: inline-block;
}
/* line 902, ../sass/cpteidb.scss */
#stap2 .left h1 span {
  background: none;
}
/* line 905, ../sass/cpteidb.scss */
#stap2 .left h1 span:first-of-type {
  font-size: 50%;
  vertical-align: top;
  font-weight: 500;
}
/* line 910, ../sass/cpteidb.scss */
#stap2 .left h1 span:last-of-type {
  font-size: 50%;
}
/* line 915, ../sass/cpteidb.scss */
#stap2 .mlt {
  margin-left: 50px;
}
@media only screen and (max-width: 40em) {
  /* line 915, ../sass/cpteidb.scss */
  #stap2 .mlt {
    margin-left: 0;
  }
}

/* line 923, ../sass/cpteidb.scss */
.column-no-padding {
  padding: 0;
}

/*
|--------------------------------------------------------------------------
| Advertentie page
|--------------------------------------------------------------------------
|
|
|
*/
/* line 938, ../sass/cpteidb.scss */
.advertentie-page {
  position: relative;
  margin-top: 30px;
}
/* line 941, ../sass/cpteidb.scss */
.advertentie-page .verkoper-foto {
  width: 75px;
  height: 75px;
  position: absolute;
  left: 15px;
  z-index: 9;
  -moz-box-shadow: 0 0 25px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.35);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.35);
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}
/* line 951, ../sass/cpteidb.scss */
.advertentie-page hr {
  margin-bottom: 50px;
}
/* line 954, ../sass/cpteidb.scss */
.advertentie-page h5 {
  padding-left: 80px;
  line-height: 0;
  margin-top: 20px;
  font-weight: 500;
  font-size: 90%;
}
/* line 961, ../sass/cpteidb.scss */
.advertentie-page .button-buys {
  background: #3498DB;
  font-weight: 700;
  text-transform: uppercase;
  width: 100%;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4wNyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.07)));
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.07));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.07));
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.07));
}
/* line 968, ../sass/cpteidb.scss */
.advertentie-page .button-buys:hover {
  background: #4aa3df;
}
.button-buys.orange{
  background: #e87e04;
}
.button-buys.orange:hover{
  background: #FFA500;
}
/* line 972, ../sass/cpteidb.scss */
.advertentie-page .overige-details {
  border-top: 1px solid #e9e9e9;
  padding: 5px 0;
  color: #434343;
  font-size: 90%;
}

/* line 980, ../sass/cpteidb.scss */
.col {
  float: left;
  padding: 0 5px;
}

/* line 986, ../sass/cpteidb.scss */
.prijzer {
  font-size: 4em;
  font-weight: 300;
}
/* line 989, ../sass/cpteidb.scss */  /*sign euro*/
/*.prijzer span {   
  font-size: 25%;
  vertical-align: top;
  line-height: 3em;
}*/

/* line 996, ../sass/cpteidb.scss */
.smallnav {
  height: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}
/* line 1002, ../sass/cpteidb.scss */
.smallnav a {
  color: #777;
  font-size: 0.85em;
  margin: 0 10px;
}
/* line 1006, ../sass/cpteidb.scss */
.smallnav a:hover {
  color: #121212;
}

/* line 1012, ../sass/cpteidb.scss */
.gemist-box,.cmscontent {
  width: 100%;
  height: 150px;
  position: relative;
  overflow: hidden;
  padding: 0.5em 1em;
}

.cmscontent {
  margin: 20px;
  padding: 20px!important;
  height: auto;
  width: 98%;
}

/* line 1020, ../sass/cpteidb.scss */
.gemist-titel {
  height: 40px;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* line 1026, ../sass/cpteidb.scss */
.gemist-text {
  height: 65px;
  width: 100%;
  text-overflow: elipsis;
  line-height: 1.25em;
  overflow: hidden;
  margin-top: 10px;
}

/* line 1035, ../sass/cpteidb.scss */
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

/* line 1041, ../sass/cpteidb.scss */
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 1140px;
}

/* line 1052, ../sass/cpteidb.scss */
.bekend-van {
  width: 100%;
  height: auto;
  padding: 1.5em 0; /*changed from 5em to 1.5em */
  text-align: center;
}

/* added */
.bekend-van .row {
  width: 75%;
 margin-top : -15px;
}
	
/* added */

/* line 1057, ../sass/cpteidb.scss */
.bekend-van h1 {
  margin-bottom: 35px;
}
/* line 1061, ../sass/cpteidb.scss */
.bekend-van .medium-4:nth-child(1) {
  margin-top: 30px;
}
/* line 1064, ../sass/cpteidb.scss */
.bekend-van .medium-4:nth-child(2) {
  margin-top: 55px;
}

/* line 1071, ../sass/cpteidb.scss */
.actie-holder:last-of-type {
  margin-bottom: 150px;
}

/* line 1076, ../sass/cpteidb.scss */
.actie {
  width: 100%;
  overflow: hidden;
  background: white;
  border: 1px solid #e2e2e2;
  margin-bottom: 10px;
  text-align: center;
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.07);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.07);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.07);
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
/* line 1085, ../sass/cpteidb.scss */
.actie h4 {
  color: #3498DB;
}
/* line 1088, ../sass/cpteidb.scss */
.actie .picture{
 /* width: 100%;
  height: 150px;*/
   /*max-height: 600px;*/  /*for show multi pdf*/
    overflow: hidden;
    width: 100%;
    text-align: center;
}
.actie .picture img{
    display: inline-block;
    max-height: 600px;
    max-width: 100%;
    vertical-align: middle;
}
/* line 1092, ../sass/cpteidb.scss */
.actie .content {
  width: 100%;
  padding: 1.5em;
}
/* added */
/*.extra{ 
	position:absolute;
	z-index:10;
}*/
.extra {
      margin-left: 10px;
    margin-top: 0;
    position: absolute;
    width: 37%;
    z-index: 10;
}
/*.ion-search{
	margin-top:5px;	
}*/
  .ion-search
    {
        position:relative;
		bottom:-5px !important;
    }
/*@media not all and (-webkit-min-device-pixel-ratio:0)
{  
    .ion-search
    {
        position:relative;
		bottom:-5px !important;
    }
}*/
.text-left > h1 {
    font-size: 32px;
}
.imgRadius{
	border-radius:15px 15px 0px 0px;
	}
.extraAdv {
    background-color: white;
    border-radius: 10px;
    margin: 0 auto 25px;
    padding-top: 20px;
    width: 98%;
}
.clearBoth{clear:both}
#frgtPass {
    float: right;
    position: relative;
    top: -27px;
}
#resetPass {
    float: left;
    position: relative;
    top: -27px;
}
/*added*/
/* Upload pdf for /canvas page */

#headingCnvs, #headingCnvs1, #headingCnvs2, #headingCnvs3, #headingCnvs4 { 
	margin-left: 10px;
	background-color: #3498db;
	border-radius: 6px;
	width: 1050px;
	text-align: center;
	color:#fff;
	cursor:pointer;
}
#upload{ display:none; margin-left:10px; }
#staticBtn1{ margin-left: 10px; position: relative; top: 0px; left: 39%; }
#staticBtn{ margin-left: 10px; position: relative; top: 0px;left:32%; }
#canvasSignature{ border:2px solid #000000;}
#btn {
    background: rgba(0, 0, 0, 0) url("/img/PreviewIcon.png") no-repeat scroll 0 0;
}

#btn, #staticBtn2, #btn_unhappy  {
    position: relative;
    width: 50px;
	height:50px;
}
/*#btn{ position: relative; width: 20%; left:30%; top:20px }*/
#loadingImg{display:none; left: 35%; position: relative; top:53px }
#image{ display:none; margin-left:10px; width:1275px; height:1580px; }
#staticBtn2{ background: rgba(0, 0, 0, 0) url("/img/saveIcon.png") no-repeat scroll 0 0; top: 59px; }
#btnBuy{ position: relative; width: 20%; left:30% }
.canvasBuy, .canvasBtn{display:none;}
#btn_unhappy{background: rgba(0, 0, 0, 0) url("/img/recycleIcon.png") no-repeat scroll 0 0; left: -60px; top: 63px;}
#status{text-align: center; margin-top: 25px; margin-bottom: 15px; width: 87%; color: #fff; font-style: italic; 
background-color: #093;  padding-bottom: 10px; padding-top: 10px;
}
.trigger{ font-size: 20px; font-weight: bold; }
.text{ color: grey;font-size: 14px;margin: 5px;}
.nxtBtn,.prevBtn {
    background-color: #3498db;
    border-color: #217bb8;
    border-style: solid;
    border-width: 0;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    font-size: 1rem;
    font-weight: normal;
    line-height: normal;
    margin: 0 0 1.25rem;
    padding: 1rem 2rem 1.0625rem;
    position: relative;
    text-align: center;
    text-decoration: none;
	text-transform:uppercase
    transition: background-color 300ms ease-out 0s;
}
.nxtBtn[disabled]{
	background-color: #ADD4FD;
	}
#secondstep{ color:#34baf3;}
#preview{ position: absolute; margin-left: 3px; font-size: 10px; top: 42px; color: #2f3b66;} 
#re-edit{ position: absolute; margin-left: 3px;; font-size: 10px; top: 105px; color: #2f3b66;} 
#save{ position: absolute; margin-left: 3px; font-size: 10px; top: 170px; color: #2f3b66;} 
#back{ color: #3498db;
    float: right;
    margin-top: 32px;
    position: relative;
}
.fldsInput{ float: left; width: 60%; margin-right: 5%; }
.textInput{ float: left; font-size: 17px;margin-top:3px; }
#confirmBox {
 }
.confirmBox {
float:left;
width: 18px;
height: 18px;
background: #ddd;
border-radius: 100%;
position: relative;
-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
-moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
margin-top: 3px;
} 
.confirmBox label {
display: block;
width: 14px;
height: 15px;
border-radius: 100px;
-webkit-transition: all .5s ease;
-moz-transition: all .5s ease;
-o-transition: all .5s ease;
-ms-transition: all .5s ease;
transition: all .5s ease;
cursor: pointer;
position: absolute;
top: 2px;
left:2px;
z-index: 1;
-webkit-box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);
-moz-box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);
box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);
}
.confirmBox #confirmBox:checked + label, .confirmBox #confirmBox1:checked + label {
	background: #26ca28;
}
#submitButton{
	left: 60%;
    position: relative;
    top: 0px;
} 
a.blue{
 color: #3498db;
}
.alert-box.notification{
  background-color: #FCF5D9;
  color: #C8A54A;
  border-color: #EADDA9;
  font-weight: normal;
}
/* Ends here*/