.search {background: rgba(0, 0, 0, 0.2); 
	 height: 330px; width:80%;
	 -webkit-border-radius:4px;
	 -moz-border-radius:4px;
	 border-radius:4px;
	 
}

.search h1 {background:#1d4274; margin:0 0 20px 0; padding:10px 0 10px 15px;
			font-family:Arial, Helvetica, sans-serif;
			color:#fff; font-size:20px; font-weight:normal;
			-webkit-border-top-left-radius:4px;
			-moz-border-top-left-radius:4px;
			border-top-left-radius:4px;
			
			-webkit-border-top-right-radius:4px;
			-moz-border-top-right-radius:4px;
			border-top-right-radius:4px;
}


.search-field {background:#000 !important;
/*					height:50px !important;
*/					display: block !important;
  					margin: 5px auto !important;
  					padding-left:5% !important;
  					font-family:Arial, Helvetica, sans-serif !important;
  					font-size: 20px !important;
  					color:#fff !important;
  					box-shadow: 1px 1px 2px #333 !important;
  					border: none !important;
					margin-bottom:5px !important;
					margin-left:11px !important;
					width:353px !important;
}
.field2 {background:#000 !important;
					height:50px !important;
					display: block !important;
					margin:5px 0 0 12px !important;
  					padding-left:5% !important;
  					font-family: sans-serif !important;
  					font-size: 13px !important;
  					color:#fff !important;
  					box-shadow: 1px 1px 2px #333 !important;
  					border: none !important;
					margin-bottom:20px !important;
}
#formSearch select {
    padding:3px !important;
    margin: 8px 0 0 12px !important;
	height:50px !important;
    box-shadow: 1px 1px 2px #333 !important;
    background: url(/img/arrow.png) no-repeat 90% center !important;
    color:#fff !important;
    border:none !important;
	width:108px !important;
    outline:none !important;
    display: inline-block !important;
    -webkit-appearance:none !important;
    -moz-appearance:none !important;
    appearance:none !important;
    cursor:pointer !important;
	background-color: rgba(0, 0, 0, 0.72) !important;
}
.search h2 {margin:0; padding:0px 0 0px 5px;
			font-family:Arial, Helvetica, sans-serif;
			color:#fff; font-size:15px; font-weight:normal;
			text-align:left; margin-left:10px;
}

.search label { display:block; margin-bottom:20px;}



#buttonSearch, #searchBtn {
    background-color: #1d4274;
    border: medium none;
    border-radius: 10px;
    color: #fff;
    /*font-size: 15px;*/
    font-weight: normal;
    height: 45px;
    margin-left: -8px;
    margin-top: 10px;   
}
#buttonSearch{
	width: 138px;
}
input[type="submit"]#searchBtn {
    width: 70px;
	-webkit-border-radius:10px;
}

table span {color:#BCBCBC; font-family:Arial, Helvetica, sans-serif;
				font-size:13px; padding-right:8%;
}

.check_table {
		background: none repeat scroll 0 0 rgba(0, 0, 0, 0.72);
		/* -webkit-border-radius:4px;
		 -moz-border-radius:4px;
		 border-radius:4px;
		 border:solid 4px #1A1A1A; padding:1%;*/
		 width:94.5%;
		 margin-left: -7px;
		 border:none;
		 
}
table.check_table tr:nth-of-type(2n) {
    background-color: rgba(0, 0, 0, 0.2);
}
td.tableRow {
   color: white;
   padding:0 0 0 5px;
   
}

.check{
	position:relative;
	top:6px;
}
.topSliderBlock{
  position:relative;
  /*max-height: 800px;*/
  height: 100%;
}
.topSliderBlock .container{
  z-index: 10;
}
.topSliderBlock .extra{
  /*top:0px; left:10px;*/
  position:static;
  float: left;
}

/*.extraAdv .recentAdvert, .extraAdv .like-button{float:left;}*/
.recentAdvert .button{
  margin:0;
}
.extraAdv .actie-buttons{float:right;width:40%;margin-top:0.2rem;}

.extraAdv{
  /*background-color: #ffa500;*/
  background-color: transparent; /*#f5f5f5*/
  width: 100%;
  margin-top: 25px;
  /*padding-bottom: 10px;*/
  padding-top: 10px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  /*color: #c06700; */
  color: #e87e04;
  text-align: center;
  font-weight: 700;
}

.extraAdv span{
  font-size: 1.2em;
  line-height: 1.2;
  display: inline-block;
  padding-top: 10px;
} 
.extraAdv img{
  max-width: 95px;
  width:100%;
}
/*.extraAdv .columns{
  min-height: 195px;
}*/
.extraAdv > .row.padding{
  padding-bottom:0;
}
 /*responsive slider ========================================================*/
 @media only screen and (max-width: 400px){
  .text-container h2{
    font-size: 14px;
    margin-top: 0;
    width: 100%;
    padding: 0 20px;
  }  
  .text-container{
    width: 100%;
    padding: 0 20px;
    min-height: 280px;
  }
  .text-container .actie-buttons{
    margin-top: 20px;
  }
  .topSliderBlock{
    height: 620px;
  }
  .extraAdv{
    margin-top: 10px;
    margin-bottom: 10px;
  }
/*  #wowslider-container1 .ws_images {
    max-height: 210px;
  }*/
  .extraAdv span{
    font-size: .8em!important;   
  }
}

 /*collapse header menu*/
@media only screen and (max-width: 800px) {
  /* line 385, ../sass/cpteidb.scss */
  .header .sidebar-toggle {
    display: block;
  }
  .header .inline-list {
    display: none;
  }
  .logo-head{
    width:100%!important;
  }
  .extraAdv span{
    font-size: 1em;   
  }  
}

@media only screen and (max-width: 605px){
 #wowslider-container1 .ws_images .ws_list img {
    height:100%;
    width: auto;
  }
}

 @media only screen and (min-width: 401px){
  .text-container h2{
    font-size: 18px;
    margin-top: 20px;
  } 
  .text-container{
    width: 100%;
    padding: 0 20px 55px;
    /*min-height: 375px;*/
    /*height: 350px;*/
  }
  .text-container .actie-buttons{
    margin-top: 20px;
  }
  .extraAdv{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .topSliderBlock{
    height: 620px;
  }
/*  #wowslider-container1 .ws_images {
    max-height: 280px;
  }*/
}

 @media only screen and (min-width: 800px){
  .text-container .actie-buttons{
    margin-top: 40px;
  }
  #wowslider-container1 .ws_images {
    height: 100%;
    /*height: 360px;*/
  }
  .text-container{
    width: 60%;
    min-height: 360px;
  }
  .search {
    width: 100%;
  }
  .text-container .actie-buttons{
    margin-top: 50px;
  }
  .topSliderBlock {
    height: 360px;
  }
  .text-container h2{
    font-size: 22px;
  }
}
















