/*
|--------------------------------------------------------------------------
| Imports/variables/mixins
|--------------------------------------------------------------------------
|
|
|
*/

@import "compass/css3";
$primaryColor: #3498DB;
$secondaryColor: #E87E04;
$bgpic: '../img/hero-10-12-2014.jpg';



/*
|--------------------------------------------------------------------------
| HTML & Body styles
|--------------------------------------------------------------------------
|
|
|
*/

html, body {
	width: 100%;
	height: 100%;
	background: #f5f5f5;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	-moz-font-smoothing: antialiased !important;
	-ms-font-smoothing: antialiased !important;
	-o-font-smoothing: antialiased !important;
}

html,body,h1,h2,h3,h4,h5,h6,p,li {
	font-family: "Proxima Nova", "Helvetica Neue", Helvetica, sans-serif;
	color: inherit;
}

h1,h2 {
	font-weight: 300;
	color: #313131;
}

h3 {
	font-weight: 500;
	color: #313131;
}

h4,h5,h6 {
	font-weight: 700;
	color: #313131;
}

.container {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 0;
	top: 0;
	left: 0;
	@include transition(all .2s ease-in-out);
}

.container.open {
	left: -250px;
}

.row {
	max-width: 1140px;
}

label {
	font-weight: 700;
}

.padding {
	padding: 1em 0;
}


/*
|--------------------------------------------------------------------------
| Elements & General styles
|--------------------------------------------------------------------------
|
|
|
*/

.well {
	background: #FFFFFF;
	padding: 1.5em;
	border: 1px solid #e1e1e1;
}

.full-page {
	height: 100vh;
}

.page {
	margin-top: 50px;
	padding: 2em 0;
	.hero {
		width: 100%;
		height: auto;
		z-index: 1;
		position: relative;
		top: 0;
		left: 0;
		overflow: hidden;
		padding: 50px 0;
		padding-top: 100px;
		margin-top: -100px;
		@include box-shadow(0 0 7.5px #777);
		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: url($bgpic) top center / cover no-repeat;
			z-index: 0;
			// margin: -20px;
			// @include filter(blur(10px));
		}
		h1,h2,h3,p {
			color: white;
		}
		.content {
			width: 100%;
			position: relative;
			top: 50%;
			color: white;
			@include transform(translateY(-50%));
			@media only screen and (max-width: 40em) {
				h1 {
					font-size: 2em;
				}
				h3 {
					font-size: 1em;
				}
			}
		}
	}
}

.like-button {
	width: 300px;
	position: absolute;
	z-index: 2;
	bottom: 10px;
	left: 50%;
	text-align: right;
	margin-left: -152.5px;
}

.full-width {
	width: 100%;
}

.text-right {
	text-align: right;
}

.alert-box {
	font-weight: 700;
}

.button {
	font-weight: 500 !important;
	font-size: 0.85em;
	border: none;
	background: none;
	border-color: none;
	border-style: none;
	border-width: 1px !important;
	padding: 1em;
	@include background-image(linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.07)));
	@include box-shadow(0 2px 2px rgba(0,0,0,0.15));
	@include transition(all .1s ease-in-out);
	span {
		margin-right: 1em;
	}
}

.button-facebook {
	background: #3b5998;
	border-bottom: 2px solid darken(#3b5998, 10%);
	&:hover {
		background: lighten(#3b5998, 5%);
		border-color: #3b5998;
	}
}

.button-action {
	background: #6BB9F0;
	border-bottom: 2px solid darken(#6BB9F0, 10%);
	&:hover {
		background: lighten(#6BB9F0, 5%);
		border-bottom: 2px solid darken(#6BB9F0, 0%);
	}
}

.button-submit {
	background: $primaryColor;
	border-bottom: 2px solid darken($primaryColor, 10%);
	&:hover {
		background: lighten($primaryColor, 5%);
		border-color: $primaryColor;
	}
}

.button-blue {
	background: $primaryColor;
	// border-bottom: 2px solid darken($primaryColor, 5%);
	font-weight: 700;
	text-transform: uppercase;
	width: 100%;
	@include background-image(linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.07)));
	&:hover {
		background: lighten($primaryColor, 5%);
	}
}

.button-green {
	height: 35px;
	line-height: 35px;
	margin: 0;
	padding: 0 1em;
	margin-top: 7.5px;
	background: #00B16A;
	border: none;
	border-bottom: 1px solid darken(#00B16A, 5%);
	@include border-radius(2px);
	&:hover {
		background: lighten(#00B16A, 5%);
	}
	&:focus {
		background: lighten(#00B16A, 0%);
	}
}

.button-red {
	height: 35px;
	line-height: 35px;
	margin: 0;
	padding: 0 1em;
	margin-top: 7.5px;
	background: #D64541;
	border: none;
	border-bottom: 1px solid darken(#D64541, 5%);
	@include border-radius(2px);
	&:hover {
		background: lighten(#D64541, 5%);
	}
}

.border-right {
	border-right: 1px dotted #c5c5c5;
	@media only screen and (max-width: 40em) {
		border-right: none;
	}
}

.info-box {
	width: 100%;
	height: auto;
	padding: 1.5em;
	color: darken(#F5D76E, 40%);
	background: lighten(#F5D76E, 22.5%);
	border: 1px solid lighten(#F5D76E, 10%);
	@include border-radius(2px);
	&.alert {
		background: lighten(red, 40%);
		border-color: lighten(red, 30%);
		color: lighten(red, 10%);
	}
}

table {
	margin: 0 auto;
	width: 100%;
	overflow-x: scroll !important;
	thead {
		background: lighten($primaryColor, 5%);
		tr {
			th {
				color: white;
			}
		}
	}
	tr {
		max-height: 100px;
	    td {
		    overflow: hidden;
		    white-space: nowrap;
		    text-overflow: ellipsis;
		    max-width: 200px;
	    }
	}
}

.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.spinner {
  width: 40px;
  height: 40px;
  // margin: 0 auto;
  background-color: $secondaryColor;
  border-radius: 100%;  
  -webkit-animation: scaleout 1.0s infinite ease-in-out;
  animation: scaleout 1.0s infinite ease-in-out;
  display: none;
}

@-webkit-keyframes scaleout {
  0% { -webkit-transform: scale(0.0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes scaleout {
  0% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 100% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

input[type="search"] {
	font-size: 1.5em;
	height: auto;
	background: rgba(255,255,255,1);
	border: none;
	margin-top: 25px;
}

/*
|--------------------------------------------------------------------------
| Header styles
|--------------------------------------------------------------------------
|
|
|
*/

.header {
	width: 100%;
	height: 50px;
	line-height: 50px;
	background: transparent;
	color: white;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 11;
	@include transition(all .2s ease-in-out);
	&.open {
		left: -250px;
	}
	.brand {
		color: $primaryColor;
		span {
			&:first-of-type {
				color: $secondaryColor;
			}
			&:last-of-type {
				color: white;
				font-weight: 900;
				text-shadow: 0px 1px 1px rgba(0,0,0,0.5);
			}
		}
	}
	.sidebar-toggle {
		display: none;
		float: right;
		font-size: 1.75em;
		color: white;
		margin-right: 10px;
		margin-top: 3px;
		@include transition(all .2s ease-in-out);
		@media only screen and (max-width: 40em) {
			display: block;
		}
	}
	.inline-list {
		float: right;
		text-align: right !important;
		line-height: 50px;
		font-size: 0.85em;
		@media only screen and (max-width: 40em) {
			display: none;
		}
		.ion-search {
			font-size: 2em;
			cursor: pointer;
		}
		li a {
			color: white;
			font-weight: 700;
			.picture {
				width: 35px;
				height: 35px;
				float: right;
				margin-top: 7.5px;
				margin-left: 10px;
				@include border-radius(2px);
			}
		}
	}
}

.header.nono {
	background: rgba(0,0,0,0.9);
	@include box-shadow(0 0 2px black);
}


/*
|--------------------------------------------------------------------------
| Sidebar
|--------------------------------------------------------------------------
|
|
|
*/

.sidebar {
	width: 250px;
	height: 100%;
	background: #212121;
	position: fixed;
	z-index: 3;
	top: 0;
	right: -250px;
	padding: 0.5em 1.5em;
	@include transition(all .2s ease-in-out);
	a {
		color: #919191;
		width: 100%;
		display: block;
		line-height: 40px;
		height: 40px;
		font-weight: 700;
		font-size: 0.85em;
		text-transform: uppercase;
	}
}

.sidebar.open {
	right: 0;
}

/*
|--------------------------------------------------------------------------
| Homepage
|--------------------------------------------------------------------------
|
|
|
*/

.hero {
	width: 100%;
	height: 75%;
	z-index: 1;
	position: relative;
	top: 0;
	left: 0;
	overflow: hidden;
	@include box-shadow(0 0 10px rgba(0,0,0,0.7));
	@media only screen and (max-width: 40em) {
		height: 100%;
	}
	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 110%;
		height: 110%;
		background: url($bgpic) top center / cover no-repeat;
		z-index: 0;
		// margin: -20px;
		// @include filter(blur(10px));
	}
	h1,h2,h3,p {
		color: white;
	}
	.picture {
		width: 75px;
		height: 75px;
		margin: 0 auto;
		// border: 1px solid rgba(255,255,255,0.35);
		cursor: pointer;
		position: relative;
		overflow: hidden;
		@include box-shadow(0 0 25px rgba(0,0,0,0.35));
		@include border-radius(15px);
	}
	.content {
		width: 100%;
		position: relative;
		top: 50%;
		color: white;
		@include transform(translateY(-50%));
		@media only screen and (max-width: 40em) {
			h1 {
				font-size: 2em;
			}
			h3 {
				font-size: 1em;
			}
		}
		.actie-buttons {
			margin-top: 75px;
			@media only screen and (max-width: 40em) {
				margin-top: 30px;
			}
			a {
				margin: 0 5px;
				@media only screen and (max-width: 40em) {
					margin: 10px;
					display: block;
				}
			}
		}
	}
}

.bon {
	height: auto;
	min-height: 275px;
	max-height: 275px;
	position: relative;
	margin-bottom: 15px;
	overflow: hidden;
	@include border-radius(3px);
	&:hover {
		.picture {
			opacity: 1;
			top: 0;
			right: 0;
		}
		.verkoper-details {
			opacity: 1;
			pointer-events: auto;
		}
		.content {
			opacity: 0.75;
			top: 50%;
		}
	}
	.picture {
		width: 150px;
		height: 150px;
		position: absolute;
		top: -25px;
		right: -25px;
		z-index: 0;
		opacity: 0;
		@include transition(all .3s ease-in-out .15s);
		@include border-radius(0 0 0 200px);
	}
	.verkoper-details {
		width: 60%;
		height: auto;
		padding: 0 1em;
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		pointer-events: none;
		z-index: 1;
		@include transition(all .5s ease-in-out);
		h3 {
			line-height: 1em;
		}
	}
	.content {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		padding: 1em;
		z-index: 1;
		opacity: 1;
		@include transition(all .3s ease-in-out);
		a:hover {
			color: lighten($secondaryColor, 5%);
		}
		.button-buy {
			padding: 1em 2em;
		}
	}
	h1 {
		font-weight: 700;
		span {
			font-size: 40%;
			vertical-align: top;
			font-weight: 500;
		}
	}
	p {
		min-height: 50px;
	}
	a {
		color: $primaryColor;
		&:hover {
			color: $secondaryColor;
		}
	}
	.prijs {
		position: absolute;
		bottom: 0;
		width: 100%;
		padding-right: 3em;
	}
	.button-buy {
		background: $primaryColor;
		border-bottom: 2px solid darken($primaryColor, 5%);
		font-weight: 700;
		text-transform: uppercase;
		&:hover {
			background: lighten($primaryColor, 5%);
		}
	}
}

.bon-plus-link {
	color: #c5c5c5;
	&:hover {
		color: #777;
		background: white;
	}
	.bon-plus {
		height: auto;
		min-height: 275px;
		max-height: 275px;
		position: relative;
		margin-bottom: 15px;
		text-align: center;
		padding: 2em;
		border: 3px dashed #ddd;
		@include border-radius(3px);
		@include transition(all .2s ease-in-out);
		&:hover {
			background: white;
		}
		i {
			font-size: 4em;
		}
		span {
			color: #424242;
		}
	}
}

.twitter {
	margin: 25px 0;
	background: #55acee;
}

.spacer {
	height: 8em;
}

/*
|--------------------------------------------------------------------------
| Inlog page
|--------------------------------------------------------------------------
|
|
|
*/

.register-picture {
	width: 100px;
	height: 100px;
	margin: 0px auto;
	margin-top: 25px;
	@include border-radius(2px);
}

.inpfile {
	margin-bottom: 35px;
	.button {
		margin-top: 40px;
	}
	input[type="file"]
	{
		display: none;
	}
}



/*
|--------------------------------------------------------------------------
| FAQ
|--------------------------------------------------------------------------
|
|
|
*/
.faq {
	font-size: 100%;
	h3 {
		font-size: 120%;
		font-weight: 700;
	}
}


/*
|--------------------------------------------------------------------------
| Footer
|--------------------------------------------------------------------------
|
|
|
*/

.footer {
	width: 100%;
	min-height: 30px;
	// background: white;
	border-top: 1px dashed #c5c5c5;
	line-height: 30px;
	text-align: center;
	position: absolute;
	z-index: 3;
	top: 100vh;
	a {
		font-size: 0.75em;
		margin: 0 10px;
		text-transform: uppercase;
		font-weight: 700;
		color: #777;
		@include transition(all .2s ease-in-out);
		&:hover {
			margin: 0 15px;
			color: #131313;
		}
	}
}


/*
|--------------------------------------------------------------------------
| Geen advertenties
|--------------------------------------------------------------------------
|
|
|
*/

.geen-advertenties {
	text-align: center;
	padding: 5em 0;
	h1 {
		font-size: 5em;
		color: #aaa;
	}
}


/*
|--------------------------------------------------------------------------
| Advertentie plaatsen
|--------------------------------------------------------------------------
|
|
|
*/

.file-upload-box {
	width: 100%;
	height: 300px;
	line-height: 300px;
	text-align: center !important;
	background: lighten($primaryColor, 35%);
	border: 2px dotted lighten($primaryColor, 30%);
	cursor: pointer;
	position: relative;
	overflow: hidden;
	opacity: 1;
	@include transition(all 1s ease-in-out);
	h1 {
		color: lighten($primaryColor, 20%);
		line-height: 1em;
		position: relative;
		top: 50%;
		@include transform(translateY(-50%));
		small {
			font-size: 45%;
			font-weight: 700;
		}
	}
}
.file-input {
	display: none;
}
.stap {
	position: relative;
}
.white-overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	background: rgba(255,255,255,0.75);
}

#m-form {
	background: #f1f1f1;
	padding: 1.5em;
	display: none;
	label {
		font-weight: 500;
	}
}

#stap2 {
	.left {
		h3 {
			font-size: 1.25em;
		}
		h1 {
			input[type="number"] {
				background: none;
				border: none;
				width: auto;
				max-width: 200px;
				height: auto;
				font-size: 1.75em;
				display: inline-block;
			}
			span {
				background: none;
			}
			span:first-of-type {
				font-size: 50%;
				vertical-align: top;
				font-weight: 500;
			}
			span:last-of-type {
				font-size: 50%;
			}
		}
	}
	.mlt {
		margin-left: 50px;
		@media only screen and (max-width: 40em) {
			margin-left: 0;
		}
	}
}

.column-no-padding {
	padding: 0;
}



/*
|--------------------------------------------------------------------------
| Advertentie page
|--------------------------------------------------------------------------
|
|
|
*/

.advertentie-page {
	position: relative;
	margin-top: 30px;
	.verkoper-foto {
		width: 75px;
		height: 75px;
		position: absolute;
		// top: -25px;
		left: 15px;
		z-index: 9;
		@include box-shadow(0 0 25px rgba(0,0,0,0.35));
		@include border-radius(15px);
	}
	hr {
		margin-bottom: 50px;
	}
	h5 {
		padding-left: 80px;
		line-height: 0;
		margin-top: 20px;
		font-weight: 500;
		font-size: 90%;
	}
	.button-buys {
		background: $primaryColor;
		// border-bottom: 2px solid darken($primaryColor, 5%);
		font-weight: 700;
		text-transform: uppercase;
		width: 100%;
		@include background-image(linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.07)));
		&:hover {
			background: lighten($primaryColor, 5%);
		}
	}
	.overige-details {
		border-top: 1px solid #e9e9e9;
		padding: 5px 0;
		color: #434343;
		font-size: 90%;
	}
}

.col {
	float: left;
	padding: 0 5px;
}


.prijzer {
	font-size: 4em;
	font-weight: 300;
	span {
		font-size: 25%;
		vertical-align: top;
		line-height: 3em;
	}
}

.smallnav {
	height: 40px;
	line-height: 40px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	a {
		color: #777;
		font-size: 0.85em;
		margin: 0 10px;
		&:hover {
			color: #121212;
		}
	}
}