@import "compass/css3";
$blue: #4183D7;

.text-alert {
	color: red !important;
}

.button {
	font-weight: 500 !important;
	text-transform: none;
	&:active, &:focus {
		outline: none;
	}
}

.sidebar-toggle {
	font-size: 1em !important;
}

.smallnav {
	background: white;
	border-bottom: 1px solid #e5e5e5;
	@media only screen and (max-width: 40em) {
		height: 80px;
	}
}

.hero {
	height: 100%;
	h3 {
		color: #212121;
	}
	.login-box {
		color: #222;
		@include border-radius(2px);
	}
}

.boxer {
	display: none;
}

.open {
	display: block;
}

.well {
	text-align: left;
	text-transform: none;
	font-weight: initial;
	overflow: hidden;
	overflow-x: auto;
	textarea {
		height: 100px;
		resize: none;
		line-height: 1.5em;
	}
}

.box {
	width: 100%;
	height: auto;
	padding: 1.65em;
	background: white;
	border: 1px solid #e1e1e1;
	text-align: left;
	text-transform: none;
	@include box-shadow(0 0 5px rgba(0,0,0,0.17));
	@include border-radius(2px);
}

table {
	overflow: scroll;
	.table-picture {
		width: 30px;
		height: 30px;
		float: left;
		margin-right: 10px;
	}
	.tks {
		height: 30px;
		line-height: 30px;
	}
	a {
		font-size: 1em !important;
		color: $blue !important;
	}
}

.well-dashed {
	width: 100%;
	height: 250px;
	border: 1px solid #c5c5c5;
	color: #a5a5a5;
	text-align: center;
	line-height: 1em;
	background: white;
	position: relative;
	cursor: pointer;
	@include border-radius(2px);
	.content {
		width: 100%;
		position: absolute;
		top: 50%;
		padding: 3em 1.5em;
		@include transform(translateY(-50%));
		span {
			font-size: 3em;
		}
	}
}

.gebruiker-picture {
	width: 150px;
	height: 150px;
	float: left;
	margin-right: 10px;
	@include box-shadow(0 0 3px black);
	@include border-radius(2px);
}

.partner-ad-box {
	display: none;
}

.table-toggle {
	cursor: pointer;
	h3 {
		line-height: 0;
		margin: 0;
		padding: 0;
		color: #888;
		&.toggled {
			color: #00B16A;
		}
	}
}

.sk-spinner-wave.sk-spinner {
  margin: 0 auto;
  width: 50px;
  height: 30px;
  text-align: center;
  font-size: 10px;
  margin-top: 5px;
  display: none;
}
.sk-spinner-wave div {
  background-color: #fff;
  height: 50%;
  width: 3px;
  display: inline-block;
  -webkit-animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
          animation: sk-waveStretchDelay 1.2s infinite ease-in-out; }
.sk-spinner-wave .sk-rect2 {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s; }
.sk-spinner-wave .sk-rect3 {
  -webkit-animation-delay: -1s;
          animation-delay: -1s; }
.sk-spinner-wave .sk-rect4 {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s; }
.sk-spinner-wave .sk-rect5 {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s; }

@-webkit-keyframes sk-waveStretchDelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4); }

  20% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1); } }

@keyframes sk-waveStretchDelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4); }

  20% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1); } }