.clear {
	clear:both;
}
h1, h2, h3, h4, h5, h6, p, ol, ul {
	margin:0px;
	padding:0px;
}

.header_name{
  position: relative;
  text-align: center;
  top: 20px;
	margin:0 auto;
  font: normal 30px/18px "Lobster1.4Regular", Georgia, "Times New Roman", serif;
  color: #4C4328;
  text-shadow: #FFF 1px 1px 0;
}

.fs_box {
	width:202px;
	height:202px;
	float:left;
	margin-left:20px;
	margin-bottom:10px;
	padding:9px 9px 30px;
}
.fs_box:hover {
	background:#EEF;
	border-radius:5px;
	box-shadow:1px 1px 3px #c4c4c4;
}
.fs_left {
	width:150px;
	float:left;
}
.fs_price {
	width:44px;
	float:left;
	text-align:right;
	color:#9e0b0f;
	font-size:16px;
	font-weight:bold;
	margin-top:2px;
}
.fs_left span {
	float:left;
	width:100%;
	margin-top:5px;
}
.fs_left span.fs_head {
	color:#003471;
	text-decoration:none;
}
.fs_left span.fs_for {

	color:#707070;
	font-style:italic;
}
.fs_left span.fs_disc {
	color:#000;
	font-style:italic;
	width:195px;
}

.featured_services_find {
	width:78%;
	float:left;
/*	margin-right:-10px;
*/}
.featured_list_find a {
	text-decoration:none;
}
.sidebar_bar {
	float:left;
	width:220px;
	/*margin-left:10px;*/
}
#gmap{
  height: 300px;
  margin:0  0 20px 20px;
}
.result_count{
  color: #222;
  text-align: center;
  font-family: 'crimson Text', serif;
  font-weight: normal;
}
.searchbox{
  line-height: 20px;
  width: 170px;
  height: 20px;
  font-size: 15px;
}
h2{
  text-align: center;
}
.width {
    height: auto;
    width: 255px;
}
.medium-4.columns.end.fjs_item {
    margin-right: 135px;
    width: 130px;
}

.bon .btn {
    background: none repeat scroll 0 0 #3498db;
    border-bottom: 2px solid #258cd1;
    font-weight: 700 !important;
    text-transform: uppercase;
}
/*Left Filter Panel CSS Start Here*/
#price_range_label{
	margin-left:62px;
	color: #fff;
}
.left_panel {height: auto; width: 220px; float:left;}
.left_panel .panel_content {margin-top:10px; background:#fff;
						border-radius:8px; 
						border:solid 1px #bcb5bc; width:100%;
						webkit-border-radius:8px;
						-webkit-border:solid 1px #bcb5bc;
						
}						
.left_panel .panel_content h1 {
							font-family:Arial, Helvetica, sans-serif;
							font-size:25px; font-weight: bold;
							color:#4853ad; padding:15px 0 0 20px; margin:0px;
}
.left_panel .panel_content h3 {
							font-family:Arial, Helvetica, sans-serif;
							font-size:17px;
							color:#fff; padding:0px 0 5px 8px;
							border-bottom:solid #5b6b84 1px;
							text-align:center; margin:0 20px;
}

.filter_box {width:100%; background:#1d4274;
				padding: 10px 20px 15px; /*margin-top:15px;*/
}

.filter_box ul {list-style:none; display:inline;}
.filter_box li {
font-family:Arial, Helvetica, sans-serif;
font-size:12px; color:#fff;
font-weight:bold; padding-left:21px;
line-height:25px;
}
.filter_box ul li span {float:right;
	margin: -2px 7px 0 5px;
    width: 125px;
	display:inline !important;}

.filter_box input[type=range]::-moz-range-track {
    width:200PX;
    height: 10px;
    background: #128f87;
    border: none;
    border-radius: 3px;
	
}
.filter_box label {margin-left:40px;}
#duration_range_label{ color:#fff;}

/*Left Filter Panel CSS End Here*/